.error-container
  .error-surface
    .error
      %h3= t ".message"
      %h1
        %span= t ".error-code1"
        %span= t ".error-code2"
        %span= t ".error-code3"
    %h2= t ".sub-message"
    = link_to t(".button-text"), root_path
